.banner-principal-decorativo
  &-1
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 18%
  &-2
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 49%
    right: 10%
  &-3
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 41%
  &-4
    animation: float2 3s ease-in-out infinite alternate
    position: absolute
    top: 75%
    right: 62%
  &-5
    animation: float1 3s ease-in-out infinite alternate
    position: absolute
    top: 22%
    right: 70%
  &-6
    animation: float2 3s ease-in-out infinite alternate
    position: absolute
    top: 66%
    right: 82%
  &-7
    animation: float2 3s ease-in-out infinite alternate
    position: absolute
    top: 68%
    right: 26%
  &-8
    animation: float2 3s ease-in-out infinite alternate
    position: absolute
    top: 39%
    right: 19%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes float2
  0%
    transform: translateX(20px)
  100%
    transform: translateX(0px)

.banner-principal__info
  width: 600px
  background-image: url("../assets/curso/portada/banner-principal-decorativo-1.svg"), url("../assets/curso/portada/banner-principal-decorativo-2.svg")
  align-self: stretch
  background-repeat: no-repeat
  background-position: 10% 13%, 17% 76%
  background-size: 50%, 25%
  animation: Flitp1 6s ease infinite

@keyframes Flitp1
  0%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-1.svg"), url("../assets/curso/portada/banner-principal-decorativo-2.svg")
  50%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-1.svg"), url("../assets/curso/portada/banner-principal-decorativo-2.svg")
    background-position: 15% 13%, 25% 80%
  100%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-1.svg"), url("../assets/curso/portada/banner-principal-decorativo-2.svg")


//FONDO BANNER INTERNO TEMAS//
.banner-interno__fondo
  background-image: url("../assets/curso/portada/interno.svg") !important
  background-repeat: no-repeat
  background-color: #00E7BF !important


.banner-principal__componente
  em
    color: $color-acento-botones
  b
    color: $color-primario
.banner-principal__info
  @media screen and (max-width: 992px)
    padding-left: 5rem !important
    padding-top: 4rem !important
  @media screen and (max-width: 420px)
    padding-left: 1.5rem !important
    padding-top: 1.5rem !important
    
// TAMAÑO IMAGENES //
.img18
   max-width: 18px !important
.img30
   max-width: 30px !important
.img40
  max-width: 40px !important
.img50
  max-width: 50px !important
.img60
  max-width: 60px !important
.img70
   max-width: 70px !important
.img80
   max-width: 80px !important
.img90
  max-width: 90px !important
.img100
  max-width: 100px !important
.img120
  max-width: 120px !important
.img140
  max-width: 140px !important
.img160
  max-width: 160px !important
.img180
  max-width: 180px !important
.img200
  max-width: 200px !important
.img250
  max-width: 250px !important
.img300
  max-width: 300px !important
.img350
  max-width: 350px !important
.img400
  max-width: 400px !important
.img420
  max-width: 420px !important
.img450
  max-width: 450px !important
.img600
  max-width: 600px !important
.img700
  max-width: 700px !important
.img800
  max-width: 800px !important
.img900
  max-width: 900px !important

//COLORES CONTENIDO//
.colr
  span
    color: white !important
  &_1
    color: $color-acento-contenido
  &_2
    color: #FC5F65
  &_3
    em
      color: #FC5F65
    i
      color: #6B8DFC
    b
      color: #3C3FA7
    border: solid 2px #FF9FA3
//FONDOS COMPLETOS DE CONTENIDO//
.bg_grad-01
  position: relative
  .row
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: 0
    left: 0
    width: calc( 100% + 6rem)
    height: 100%
    background-color: #FFF0F1
    background-repeat: no-repeat
.bg_grad-02
  position: relative
  .row, p
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0 -3rem
    top: -6%
    left: 0
    width: calc( 100% + 6rem)
    height: calc( 100% + 10rem)
    background-color: #E1E8FF
    background-repeat: no-repeat
    @media screen and (max-width: 420px)
      top: -48px
      height: calc( 100% + 6rem)
    
.bg_grad-03
  position: relative
  .row, p, .cajon, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo1.svg")
    background-repeat: no-repeat
    background-size: cover
    @media screen and (max-width: 420px)
      background-image: url("../assets/curso/tema1/fondo1m.svg")
.bg_grad-04
  position: relative
  .row, p, .cajon, .slyder-f
    position: relative
  &::before
    content: ''
    position: absolute
    margin: 0
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-image: url("../assets/curso/tema1/fondo2.svg")
    background-repeat: no-repeat
    background-size: cover
    @media screen and (max-width: 420px)
      background-image: url("../assets/curso/tema1/fondo1m.svg")
    
//FONDOS//
.bgr
  background-color: #FFBFC1
  border-bottom-left-radius: 20px
  border-bottom-right-radius: 20px
  &_1
    background-color: #FFDFE0
    border-radius: 10px
  &_2
    background-image: url("../assets/curso/tema1/t1-24.png")
    background-size: cover
    background-repeat: no-repeat
  &_3
    background-color: white
    border-radius: 10px 
  &_4
    background-image: url("../assets/curso/tema1/t1-25.png")
    background-size: cover
    background-repeat: no-repeat
  &_5
    background-image: url("../assets/curso/tema1/t1-26.png")
    background-size: cover
    background-repeat: no-repeat
  &_6
    background-image: url("../assets/curso/tema1/t1-27.png")
    background-size: cover
    background-repeat: no-repeat
  &_7
    background-image: url("../assets/curso/tema1/t1-28.png")
    background-size: cover
    background-repeat: no-repeat
  &_8
    background-image: url("../assets/curso/tema1/t1-29.png")
    background-size: cover
    background-repeat: no-repeat
  &_9
    background-image: url("../assets/curso/tema1/t1-30.png")
    background-size: cover
    background-repeat: no-repeat
  &_10
    background-image: url("../assets/curso/tema1/t1-31.png")
    background-size: cover
    background-repeat: no-repeat
  &_11
    background-image: url("../assets/curso/tema1/t1-32.png")
    background-size: cover
    background-repeat: no-repeat
  &_12
    background-image: url("../assets/curso/tema1/t1-33.png")
    background-size: cover
    background-repeat: no-repeat
  &_13
    background-image: url("../assets/curso/tema1/t1-34.png")
    background-size: cover
    background-repeat: no-repeat
  &_14
    background-image: url("../assets/curso/tema1/t1-35.png")
    background-size: cover
    background-repeat: no-repeat

//COLOR DE TABLAS//
.bgt1header
  background-color: #3C3FA7
  color: white !important
  font-weight: bold
  font-size: 18px
.t1br  
  border-right: 2px solid white !important       
.tb1bd 
  border-bottom: 2px solid #3C3FA7!important 
  border-right: 2px solid #3C3FA7!important 
.tb2bd 
  border-left: 2px solid #3C3FA7!important  

//POSICION EN PANTALLA//
.pst
  margin-left: 15px
  &_1
    margin-bottom: 130px
    @media screen and (max-width: 420px)
      margin-bottom: 70px
  &_2
    margin-top: 14rem
//MODIFICAR CLASES//

